<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table class = "table_midterm">
	<thead>
		<tr>
			<th scope = "col"> </th>
			<th scope = "col">1월 </th>
			<th scope = "col">2월 </th>
			<th scope = "col">3월 </th>
			<th scope = "col">4월 </th>
			<th scope = "col">5월 </th>
			<th scope = "col">6월 </th>
			<th scope = "col">7월 </th>
			<th scope = "col">8월 </th>
			<th scope = "col">9월 </th>
			<th scope = "col">10월 </th>
			<th scope = "col">11월 </th>
			<th scope = "col">12월 </th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<th class="blue" scope="row">최저기온(℃)</th>
		<td>2</td>
		<td>1</td>
		<td>3</td>
		<td>5</td>
		<td>10</td>
		<td>13</td>
		<td>15</td>
		<td>15</td>
		<td>12</td>
		<td>9</td>
		<td>6</td>
		<td>5</td>
		</tr>
		<tr>
		<th class="blue" scope="row">최고기온(℃)</th>
		<td>7</td>
		<td>6</td>
		<td>10</td>
		<td>12</td>
		<td>20</td>
		<td>22</td>
		<td>22</td>
		<td>22</td>
		<td>20</td>
		<td>15</td>
		<td>11</td>
		<td>9</td>
		</tr>
	</tbody>

</table>
</body>
</html>