@charset "UTF-8";

/* header */
	.header {
		width:100%;
		height:60px;
		background : rgba(241, 196, 15, 0.32);
		/* background-color: white;
		border-bottom: 3px solid rgba(241, 196, 15, 0.32);	 */	
	}
	
	.header-top-img{
		width : 50px;
		margin: 3px;
	}
	.div-title{
		display : inline-block;
		position : absolute;
		margin-top: 20px;
		/*left : 50px; */
		width : 600px;
		
	}
	.txt-title{
		margin: -15px 10px 10px 10px;
		font-weight : 600;
		font-size : 33px;
		color : black;
		font-family: 'Ubuntu', sans-serif;
	}
	#editTitle{
		font-size: 1.3em;
		margin-left:15px;
		
	}
	
	.btn-save, .btn-return{
		font-size: 14px; 
		/* color: rgb(0, 1, 255);  */
		color : white;
		background : rgb(42,90,133); 
		float:right; 
		text-align: center; 
		line-height: 2.5em; 
		border-radius: 8px; 
		width : 90px;
		margin-top:8px;
	}
	.btn-save {
		margin-right:50px; 
	}
	.btn-return{
		margin-right:30px; 
	}
	
	#input-title{
		position : absolute;
		margin-top: 12px;
		width : 250px;
		visibility : hidden;
		}
	#btn-save-title{
		margin : 2px;
		height : 35px;
		width : 30px;
		background : rgb(42,90,133); 
		color : white;
		border-radius : 7px;
		font-size: 30px;
	    padding-top: 5px;
	    padding-left: 5px;
	}
	
	
	/* 하단 */
	.plan-table-calendar{
		float : left;
		width : 25%;
		background: rgb(255, 255, 255);
	    border-radius: 9px;
	    	height: 850px;
	    	padding-top : 20px;
	}
	.plan-table-map{
		float: left;
	    width: 75%;
	    overflow: hidden;
	    background: rgb(53, 86, 155);
	}
	
	
	
	/* 좌측 일정 상세히  */
	.input-date{
		width : 150px;
		border-radius : 5px;
		height : 35px;
		border : 1px dashed black;
		margin : 5px 10px 5px 10px;
		text-align : center;
	}
	.txt-date-start{
		margin-left : 10px;
		font-size : 15px;
	}
	
	
	
	/* 도시 상세정보보기  */
	#detailPop{
		position : absolute;
		width : 1050px;
		height : 700px;
		overflow-y : auto;
		/* height : 100%; */
		background : rgba(250, 250, 250, 0.9);
		z-index : 100;
		visibility : hidden;
		/* display : none; */
	} 
	
	#borderPop{
		position : relative;
		top : 20px;
		left : 20px;
		border : 1px solid lightgray;
		width : 1000px;
		/* height : 90%; */
		border-radius : 5px;
		padding : 13px;
	}
	
	#closePop {
		font-size : 1.8em;
		margin-right : 100px;
		margin-top : 1%;
		margin-left : 1%;
		
	}
	
	/* pop 안에 내용  */
	/* 간단 소개  */
	.p-city-name{
		font-weight : 700;
		font-size : 30px;
		font-family: 'Nanum Gothic', sans-serif;
	}
	.p-info-img{
		width : 800px;
		height : 450px;
		border-radius : 7px;
		border : 1px solid white;
	}
	.p-info-txt{
		margin-top : 7px;
		font-weight : 700;
		font-size : 20px;
		color : black;
		font-family: 'Nanum Gothic', sans-serif;
	}
	
	/* 날씨  */
	#weather-div{
		text-align : center;
	}
	
	.p-flex{
		display : flex;
		flex-wrap : wrap;
		width : 100%;
	}
	.p-title{
		font-weight : 500;
		font-size : 18px;
		font-family: 'Nanum Gothic', sans-serif;
		margin : 4% 0 1% 0;
	}
	.p-w{
		width : 16%;
		height : 44px;
		border: 1px solid white;
		background : skyblue;
		cursor : pointer;
		border-radius : 7px;
		padding-top : 10px; 
		text-align : center;
		/* display : table-cell;
		vertical-align : middle; */
		color : white;
	}
	
	.p-p {
		width : 23%;
		margin: 0 1% 1% 1%;
		height : 250px;
		text-align : center;
	}
	
	 .p-t {
		width : 23%;
		margin: 0 1% 1% 1%;
		height : 270px;
	}
	
	.p-p-img{
		width : 100%;
		height : 200px;
		border-radius : 10px;
		margin-bottom : 10px;
	}
	
	.p-p-name{
		font-weight : 700;
		font-size : 18px;
		font-family: 'Nanum Gothic', sans-serif;
	}
	
	.p-t-img{
		width : 100%;
		height : 200px;
		border-radius : 10px;
		margin-bottom : 10px;
	}
	

	
	/* 이동수단 팝업  */
	#icon-close{
		margin : 5px 3px 0 0;
		font-size : 20px;
	}
	
	#trans-pop-txt{
		margin-left : 30px;
		font-weight : 700;
		font-size : 18px;
		font-family: 'Nanum Gothic', sans-serif;
	}
	
	.trans-pop{
		position : absolute;
		visibility : hidden;
		width : 800px;
		height : 270px;
		background : rgb(171, 199, 244);
		border-radius : 7px;
		/* border : 3px solid white; */
		top : 100px;
		left : 80px;
		z-index : 200;
	}
	
	.trans-flex{
		width : 100%;
		display : flex;
		flex-wrap : wrap;
		
	}
	
	.trans-in{
		width : 18%;
		line-height : 7.5em;
		margin : 2% 1% 0 1%;
		text-align : center;
		
	}
	
	.tr-circle {
		border : 3px solid rgb(171, 199, 244);
		background : white;
		border-radius : 50%;
		width : 130px;
		height : 130px;
		margin-bottom : -20px;
		cursor : pointer;
	}
	
	#icon-trans{
		font-size : 70px;
		margin-left : 9px;
		margin-top : 10px;
	}
	
	.trans-txt{
		font-weight : 500;
		font-size : 18px;
		font-family: 'Nanum Gothic', sans-serif;
		color : white;
		/* margin-left : 20px; */
	}
	
	.trans-txt{
		color : white;
	}
	.trans-txt-num{
		font-weight : 500;
		font-size : 18px;
		font-family: 'Nanum Gothic', sans-serif;
		color : rgb(85, 124, 186);
	}
	.trans-txt-num:hover{
		color : rgb(85, 124, 186);
	}